<html>
 <head></head>
 <body>
    <textarea id="inputCopy" style="position: absolute;top: 0;left: 0;opacity: 0;z-index: -10;">复制专用</textarea>
   <p class="topLogo" style=" display: block;position: relative; margin: 0 auto;"><img style=" display: block;border: 0 none; position: relative; margin: 0 auto;" src="<%=siteLogo%>" alt=""></p>
  <table style="width: 99.8%;height:99.8% ">
   <tbody>
    <tr>
     <td> 
      <div style="border-radius: 10px 10px 10px 10px;font-size:13px;    color: #555555;width: 666px;font-family:'Century Gothic','Trebuchet MS','Hiragino Sans GB',微软雅黑,'Microsoft Yahei',Tahoma,Helvetica,Arial,'SimSun',sans-serif;margin:50px auto;border:1px solid #eee;max-width:100%;background: #ffffff repeating-linear-gradient(-45deg,#fff,#fff 1.125rem,transparent 1.125rem,transparent 2.25rem);box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);"> 
       <div style="width:100%;background:#49BDAD;color:#ffffff;border-radius: 10px 10px 0 0;background-image: -moz-linear-gradient(0deg, rgb(67, 198, 184), rgb(255, 209, 244));background-image: -webkit-linear-gradient(0deg, rgb(67, 198, 184), rgb(255, 209, 244));height: 66px;"> 
        <p style="font-size:15px;word-break:break-all;padding: 23px 32px;margin:0;background-color: hsla(0,0%,100%,.4);border-radius: 10px 10px 0 0;"><a style="text-decoration:none;color: #ffffff;" href="<%=siteUrl%>"> <%=siteName%>邮箱码验证</a> </p> 
       </div> 
       <div style="margin:40px auto;width:90%"> 
        <p><%=name%> 同学，您的重置，密码验证码为：</p> 
        <div style="background: #fafafa repeating-linear-gradient(-45deg,#fff,#fff 1.125rem,transparent 1.125rem,transparent 2.25rem);box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);margin:20px 0px;padding:15px;border-radius:5px;letter-spacing: 3px; font-size:14px;color:#1139ec;"><%-codeNumber%> <a href="javascript:copyText('<%=codeNumber%>')" style="float:right; color: #fff; display: block; font-size: 16px;width: 100px;height: 30px;text-align: center;line-height: 30px; border-radius: 30px; background: #5130e6;" >点击复制</a></div> 
        <style type="text/css">a:link{text-decoration:none}a:visited{text-decoration:none}a:hover{text-decoration:none}a:active{text-decoration:none}</style> 
       </div> 
      </div> </td>
    </tr>
   </tbody>
  </table>
  <script>
      //复制功能
      function copyText(text) {
        var input = document.getElementById("inputCopy");
        input.value = text; // 修改文本框的内容
        input.select(); // 选中文本
        document.execCommand("copy"); // 执行浏览器复制命令
        showTips("复制成功","ok",0.6,3);
      }
  </script>
 </body>
</html>